Repository kowalczyk-j/contest-platform: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, missing-migrations

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=500"]
        exclude: >
          (?x)^(
              package-lock\.json
          )$
      - id: fix-byte-order-marker
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: debug-statements
      - id: detect-private-key

  - repo: https://github.com/psf/black
    rev: 23.11.0
    hooks:
      - id: black

  - repo: https://github.com/pycqa/flake8
    rev: "6.1.0"
    hooks:
      - id: flake8

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier

  - repo: local
    hooks:
      - id: eslint
        name: eslint-local
        entry: npm run lint
        language: system
        types: [javascript]
        exclude: >
          (?x)^(
            .+\.config\.js|
            .+\.setup\.js|
            \.eslintrc\.js
          )$
        pass_filenames: true
      - id: missing-migrations
        name: missing-migrations-local
        entry: python3 backend/manage.py makemigrations --check
        language: system
        files: (.*/?(settings|migrations|models)/.+|.+models\.py|.+constants\.py|.+choices\.py|.+pyproject\.toml)
        pass_filenames: false

PK-73 dodałem okna potwierdzające wykonanie akcji
  frontend/src/components/EmailForm.jsx
  frontend/src/components/Entries.jsx
  frontend/src/components/SubmitButton.jsx
Due: none

Add poster, rules to ContestListPage
  frontend/src/components/ContestListPage.jsx
  frontend/src/components/CreateEntryPage.jsx
  frontend/src/components/EntryForm.jsx
Due: none

Naprawa dodawania osób do zgłoszeń, pop-upy
  backend/contest_platform/models.py
  backend/contest_platform/serializers.py
  backend/contest_platform/views.py
  frontend/src/components/ContestForm.jsx
  frontend/src/components/EntryForm.jsx
Due: missing-migrations

PK-84 Dodano ograniczenia typów plików mozliwych do uploadu
  frontend/src/components/ContestForm.jsx
  frontend/src/components/EntryForm.jsx
  frontend/src/components/FileUploadButton.jsx
Due: none

PK-56 dodałem frontend oceniania prac
  backend/contest_platform/permissions.py
Due: none

PK-56 dodałem frontend oceniania prac
  frontend/src/components/App.jsx
  frontend/src/components/EntryInfo.jsx
  frontend/src/components/FileDownloadButton.jsx
  frontend/src/components/GradeCriterionCard.jsx
  frontend/src/components/GradeEntry.jsx
  frontend/src/components/GradeEntryForm.jsx
  frontend/src/components/LoginPage.jsx
Due: none

PK-59 hotfix usunalem przechowywanie danych o uzytwkoniku w sesji zamieniajac to na zapytanie do backendu
  frontend/src/components/Navbar.jsx
Due: none

PK-59 hotfix usunalem przechowywanie danych o uzytwkoniku w sesji zamieniajac to na zapytanie do backendu
  .gitignore
  frontend/src/components/ContestListPage.jsx
  frontend/src/components/LoginPage.jsx
  frontend/src/components/Navbar.jsx
Due: none

PK-45 Naprawienie walidacji daty konkursu
  backend/contest_platform/models.py
  backend/contest_platform/serializers.py
Due: missing-migrations

PK-59 dodalem pokazywanie regulaminu oraz zapytanie w privateRoute
  frontend/src/components/CreateContestPage.jsx
  frontend/src/components/Entries.jsx
  frontend/src/components/PrivateRoute.jsx
Due: none

PK-57 PrivateRoute dla create-entry
  frontend/src/components/App.jsx
  frontend/src/components/ContestListPage.jsx
  frontend/src/components/PrivateRoute.jsx
Due: none

PK-65 realised endpoints arent working
  backend/contest_platform/models.py
  backend/contest_platform/views.py
Due: missing-migrations

PK-57 Zwykły uzytkownik moze dodać tylko jedno zgłoszenie
  backend/contest_platform/serializers.py
Due: none

PK-57 Defaultowy mail powiązany z kontem
  frontend/src/components/EntryForm.jsx
Due: none

pre merge
  docs/build/doctrees/environment.pickle
  docs/build/doctrees/index.doctree
  docs/build/doctrees/requirements.doctree
  docs/build/html/.buildinfo
  docs/build/html/_sources/index.rst.txt
  docs/build/html/_sources/requirements.rst.txt
  docs/build/html/_static/alabaster.css
  docs/build/html/_static/basic.css
  docs/build/html/_static/pygments.css
  docs/build/html/genindex.html
  docs/build/html/index.html
  docs/build/html/objects.inv
  docs/build/html/requirements.html
  docs/build/html/search.html
  docs/build/html/searchindex.js
Due: eslint

poprawa linku i formatowanie
  backend/contest_platform/migrations/0007_remove_entry_address_entry_date_submitted_and_more.py
  frontend/src/components/App.jsx
  frontend/src/components/LoginPage.jsx
Due: missing-migrations

PK-45 Mozna dodać konkurs tylko z plakatem lub tylko z regulaminem
  frontend/src/components/ContestForm.jsx
Due: none

PK-76 Dodałem listę odbiorców do wysyłki maili
  backend/contest_platform/permissions.py
  backend/contest_platform/views.py
  frontend/src/components/EmailForm.jsx
Due: none

PK-76 dodałem przycisk do wysyłki maili
  frontend/src/components/ContestListPage.jsx
  frontend/src/components/EmailForm.jsx
Due: none

Checkbox jednostka koordynująca przy rejestracji
  backend/contest_platform/serializers.py
  frontend/src/components/RegistrationPage.jsx
Due: none

PK-60 dodałem poprawne wyświetlanie oceny przy zgłoszeniach
  frontend/src/components/Entries.jsx
  frontend/src/components/EntryInfo.jsx
  frontend/src/components/EntryScore.jsx
Due: none

PK-60 poprawne wyświetlanie oceny
  backend/contest_platform/views.py
Due: none

PK-93 dodałem listę użytkowników
  backend/contest_platform/views.py
  frontend/src/components/App.jsx
  frontend/src/components/UsersListPage.jsx
Due: none

PK-60 poprawa podpięcia danych w entries i permisji
  backend/contest_platform/permissions.py
  frontend/src/components/Entries.jsx
  frontend/src/components/EntryInfo.jsx
  frontend/src/components/UsersListPage.jsx
Due: none

PK-60 hotfix zgloszenia i email
  frontend/src/components/EmailForm.jsx
  frontend/src/components/Entries.jsx
Due: none

PK-90 dodałem import plików z csv do bazy danych oraz front do tego
  .pre-commit-config.yaml
  backend/backend/urls.py
  backend/contest_platform/models.py
  backend/contest_platform/serializers.py
  backend/contest_platform/urls.py
  backend/contest_platform/utils/import_schools_csv.py
  backend/contest_platform/views.py
  frontend/src/components/ContestForm.jsx
  frontend/src/components/ImportFormModal.jsx
  frontend/src/components/Navbar.jsx
Due: missing-migrations

Added SQL Script for presentation
  script.sql
Due: none

PK-56 sprzątanie
  backend/contest_platform/permissions.py
  backend/contest_platform/views.py
  frontend/src/components/GradeEntry.jsx
Due: none

foldery
  data/script.sql
  documentation/PZSP2_zespół_9_platforma_konkursowa_dokumentacja_wstępna.pdf
Due: none

PK-60 Dla zwyklego uzytkownika widoczne tylko aktualne konkursy
  backend/contest_platform/permissions.py
  backend/contest_platform/views.py
  frontend/src/components/ContestListPage.jsx
Due: none

płonie ognisko w lesie
  .gitignore
  backend/backend/.env
  backend/contest_platform/migrations/0001_initial.py
  backend/contest_platform/migrations/0002_address_alter_contest_date_start_assessmentcriterion_and_more.py
  backend/contest_platform/migrations/0003_user_is_jury.py
  backend/contest_platform/migrations/0004_person_remove_entry_contestant_name_and_more.py
  backend/contest_platform/migrations/0005_rename_assessmentcriterion_gradecriterion.py
  backend/contest_platform/migrations/0006_grade.py
  backend/contest_platform/migrations/0007_remove_entry_address_entry_date_submitted_and_more.py
  backend/contest_platform/serializers.py
  backend/contest_platform/utils/__pycache__/import_schools_csv.cpython-312.pyc
  backend/contest_platform/views.py
  frontend/.env
  frontend/package-lock.json
  frontend/src/components/App.jsx
  frontend/src/components/EmailForm.jsx
  frontend/src/components/EntryForm.jsx
  frontend/src/components/GradeEntry.jsx
  frontend/src/components/LoginPage.jsx
  frontend/src/components/Navbar.jsx
  frontend/src/components/RegistrationPage.jsx
  frontend/src/components/UserEntries.jsx
  frontend/src/components/UserProfilePage.jsx
  frontend/src/components/UsersListPage.jsx
Due: missing-migrations

Changes to script
  script.sql
Due: none

PK-59 Zmiany wizualne strony wszystkich konkursów
  frontend/src/components/ContestListPage.jsx
Due: none

nie wiem co zrobiłem
  backend/contest_platform/migrations/0001_initial.py
  frontend/src/components/Entries.jsx
Due: missing-migrations

PK-56 Zdjęcia i pobieranie pliku pracy
  frontend/src/components/FileDownloadButton.jsx
  frontend/src/components/GradeEntry.jsx
  frontend/src/components/GradeEntryForm.jsx
Due: none

machanie rękami
  backend/contest_platform/migrations/0001_initial.py
  backend/contest_platform/views.py
  data/script.sql
  frontend/src/components/GradeCriterionCard.jsx
Due: missing-migrations

delete unwanted migrations
  backend/contest_platform/migrations/0001_initial.py
  backend/contest_platform/migrations/0002_address_alter_contest_date_start_assessmentcriterion_and_more.py
  backend/contest_platform/migrations/0003_user_is_jury.py
  backend/contest_platform/migrations/0004_person_remove_entry_contestant_name_and_more.py
  backend/contest_platform/migrations/0005_rename_assessmentcriterion_gradecriterion.py
  backend/contest_platform/migrations/0006_grade.py
  backend/contest_platform/migrations/0007_remove_entry_address_entry_date_submitted_and_more.py
Due: missing-migrations

PK-60 dostosowałem funkcjonalność zgłoszonych prac po użytkownika i dodałem podgląd pracy
  frontend/src/components/App.jsx
  frontend/src/components/Entries.jsx
  frontend/src/components/EntryInfo.jsx
  frontend/src/components/EntryWorkView.jsx
  frontend/src/components/UserEntries.jsx
Due: none

PK-73 refaktoring kodu
  frontend/src/components/ContestListPage.jsx
  frontend/src/components/Entries.jsx
  frontend/src/components/EntryInfo.jsx
  frontend/src/components/EntryWorkView.jsx
  frontend/src/components/GradeEntry.jsx
  frontend/src/components/GradeEntryForm.jsx
  frontend/src/components/Header.jsx
  frontend/src/components/LoginPage.jsx
  frontend/src/components/Navbar.jsx
  frontend/src/components/RegistrationPage.jsx
  frontend/src/components/UserEntries.jsx
  frontend/src/components/UserProfilePage.jsx
  frontend/src/static/assets/Logo.png
  frontend/src/static/assets/piesio_hr.jpg
Due: none

PK-90 Poprawiłem widoczność importu dla admina
  frontend/src/components/Navbar.jsx
Due: none
