Repository kowalczyk-j/contest-platform: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, missing-migrations

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=500"]
        exclude: >
          (?x)^(
              package-lock\.json
          )$
      - id: fix-byte-order-marker
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: debug-statements
      - id: detect-private-key

  - repo: https://github.com/psf/black
    rev: 23.11.0
    hooks:
      - id: black

  - repo: https://github.com/pycqa/flake8
    rev: "6.1.0"
    hooks:
      - id: flake8

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier

  - repo: local
    hooks:
      - id: eslint
        name: eslint-local
        entry: npm run lint
        language: system
        types: [javascript]
        exclude: >
          (?x)^(
            .+\.config\.js|
            .+\.setup\.js|
            \.eslintrc\.js
          )$
        pass_filenames: true
      - id: missing-migrations
        name: missing-migrations-local
        entry: python3 backend/manage.py makemigrations --check
        language: system
        files: (.*/?(settings|migrations|models)/.+|.+models\.py|.+constants\.py|.+choices\.py|.+pyproject\.toml)
        pass_filenames: false

PK-58 Poprawiłem sekcję bazy danych i backend tak, by były bardziej czytelne i łatwe w interpretacji
  README.md
Due: none

PK-45 Dodałam podstawową funkcjonalność tworzenia konkursu
  backend/contest_platform/models.py
  backend/contest_platform/serializer.py
  backend/contest_platform/views.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.css
  frontend/src/assets/react.svg
  frontend/src/components/App.jsx
  frontend/src/components/CreateContestPage.jsx
  frontend/src/components/FileUploadButton.jsx
  frontend/src/components/HomePage.jsx
  frontend/src/main.jsx
  frontend/src/static/assets/Logo.png
  frontend/src/static/index.css
Due: missing-migrations

Dodałem popup po utworzeniu konkursu
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/CreateContestPage.jsx
Due: none

PK-45 Popup po klinknięciu OK przenosi do widoku konkursów
  frontend/src/components/CreateContestPage.jsx
Due: none

PK-54 Poprawiłam frontend strony do tworzenia konkursu
  frontend/src/components/CreateContestPage.jsx
  frontend/src/components/FileUploadButton.jsx
  frontend/src/main.jsx
  frontend/src/static/index.css
Due: none

PK-59 dodałem wyswietlanie wszystkich konkursów
  frontend/src/components/HomePage.jsx
Due: none

PK-45 dodałem przycisk z brancha Kuby
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/CreateContestPage.jsx
Due: none

added pipfile lock to gitignore, added a new view in frontend login, added token authentication
  .gitignore
  Pipfile
  Pipfile.lock
  backend/backend/settings.py
  backend/backend/urls.py
  backend/contest_platform/migrations/0002_contest_date_end_contest_date_start_and_more.py
  backend/contest_platform/models.py
  backend/contest_platform/serializer.py
  backend/contest_platform/urls.py
  backend/contest_platform/views.py
  docs/build/doctrees/requirements.doctree
  docs/build/html/_sources/requirements.rst.txt
  docs/build/html/requirements.html
  frontend/src/components/App.jsx
  frontend/src/components/CreateContestPage.jsx
  frontend/src/components/LoginPage.jsx
Due: missing-migrations

dalsza praca nad autoryzacją
  backend/backend/settings.py
  backend/backend/urls.py
  backend/contest_platform/migrations/0003_delete_user.py
  backend/contest_platform/urls.py
  backend/contest_platform/views.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/CreateContestPage.jsx
  frontend/src/components/HomePage.jsx
  frontend/src/components/LoginPage.jsx
Due: missing-migrations

Revert "Merge branch 'janek' into 'kswidere'"
  .gitignore
  Pipfile
  Pipfile.lock
  backend/backend/settings.py
  backend/backend/urls.py
  backend/contest_platform/migrations/0002_contest_date_end_contest_date_start_and_more.py
  backend/contest_platform/models.py
  backend/contest_platform/serializer.py
  backend/contest_platform/urls.py
  backend/contest_platform/views.py
  docs/build/doctrees/requirements.doctree
  docs/build/html/_sources/requirements.rst.txt
  docs/build/html/requirements.html
  frontend/src/components/App.jsx
  frontend/src/components/CreateContestPage.jsx
  frontend/src/components/LoginPage.jsx
Due: missing-migrations

PK-45 Refactor CreateContestPage
  backend/contest_platform/admin.py
  backend/contest_platform/models.py
  backend/contest_platform/serializer.py
  backend/contest_platform/urls.py
  backend/contest_platform/views.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/BackButton.jsx
  frontend/src/components/ContestForm.jsx
  frontend/src/components/CreateAdmissionPage.jsx
  frontend/src/components/CreateContestPage.jsx
  frontend/src/components/CreateCriterion.jsx
  frontend/src/components/Header.jsx
  frontend/src/components/SubmitButton.jsx
  frontend/src/main.jsx
  frontend/src/static/style.css
Due: missing-migrations

PK-45 Poprawa wyglądu formularza
  frontend/src/components/ColorButton.jsx
  frontend/src/components/ContestForm.jsx
  frontend/src/components/CreateContestPage.jsx
  frontend/src/components/FileUploadButton.jsx
  frontend/src/components/SubmitButton.jsx
  frontend/src/static/style.css
Due: none

frontend dla listy zgłoszeń
  frontend/package-lock.json
  frontend/package.json
  frontend/public/Logo.png
  frontend/src/components/App.jsx
  frontend/src/components/Entries.jsx
Due: none

PK-45 Dodawanie kryteriów oceny
  frontend/src/components/BackButton.jsx
  frontend/src/components/ContestForm.jsx
  frontend/src/components/CreateCriterion.jsx
  frontend/src/components/TextButton.jsx
  frontend/src/static/style.css
Due: none

poprawiony przycisk powrotu w zgloszeniach
  frontend/src/components/Entries.jsx
Due: none

PK-67 Zgłaszanie prac indywidualnych
  backend/contest_platform/urls.py
  backend/contest_platform/views.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/App.jsx
  frontend/src/components/ContestForm.jsx
  frontend/src/components/CreateAdmissionPage.jsx
  frontend/src/components/CreateContestPage.jsx
  frontend/src/components/CreateCriterion.jsx
  frontend/src/components/CreateEntryPage.jsx
  frontend/src/components/EntryForm.jsx
  frontend/src/static/style.css
Due: none

PK-63 Dodawanie kryteriów oceny - zapisywane w bazie danych
  backend/contest_platform/views.py
  frontend/src/components/ContestForm.jsx
  frontend/src/components/CreateContestPage.jsx
  frontend/src/components/CreateCriterion.jsx
Due: none

PK-45 PK-57 Poprawa pop-upów informujących o dodaniu konkursu i zgłoszenia
  frontend/src/components/ContestForm.jsx
  frontend/src/components/CreateContestPage.jsx
  frontend/src/components/CreateEntryPage.jsx
  frontend/src/components/EntryForm.jsx
Due: none

PK-57 Checkbox musi być oznaczony, aby dodać zgłoszenie
  frontend/src/components/EntryForm.jsx
Due: none

PK-66 Podstawa dla funkcjonalności oceny prac
  frontend/src/components/App.jsx
  frontend/src/components/AvailableEntries.jsx
Due: none

dodałem style i layouty do osobnych plików
  frontend/src/components/Entries.jsx
  frontend/src/static/style.css
  frontend/src/static/theme.js
Due: eslint

poprawka po merge
  frontend/src/components/App.jsx
  frontend/src/static/style.css
Due: none

podpięcie zgłoszeń pod odpowiedni konkurs
  backend/contest_platform/views.py
  frontend/src/components/App.jsx
  frontend/src/components/Entries.jsx
  frontend/src/static/style.css
  package-lock.json
Due: none

Refaktoring kodu w Entries
  frontend/src/components/Entries.jsx
  frontend/src/components/EntryInfo.jsx
  frontend/src/components/EntryScore.jsx
  frontend/src/static/style.css
Due: none

PK-45 Kalendarz w języku polskim
  frontend/src/components/ContestForm.jsx
Due: none

PK-62 Zaimplementowałem wstępnie funkcjonalnosc logowania oraz autoryzacji przy pomocy tokenu, stworzyłem widoki logowania i rejestracji, stworzyłem obiekty upoważnień dla widoków w django
  backend/backend/middleware.py
  backend/backend/settings.py
  backend/backend/urls.py
  backend/contest_platform/admin.py
  backend/contest_platform/migrations/0001_initial.py
  backend/contest_platform/migrations/0002_contest_date_end_contest_date_start_and_more.py
  backend/contest_platform/migrations/0003_delete_user.py
  backend/contest_platform/models.py
  backend/contest_platform/permissions.py
  backend/contest_platform/serializer.py
  backend/contest_platform/serializers.py
  backend/contest_platform/urls.py
  backend/contest_platform/views.py
  frontend/src/components/App.jsx
  frontend/src/components/CreateContestPage.jsx
  frontend/src/components/HomePage.jsx
  frontend/src/components/RegistrationPage.jsx
  package-lock.json
Due: missing-migrations

PK-56 Dodałem zdjęcie po prawej stronie okna
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/App.jsx
  frontend/src/components/AvailableEntries.jsx
  frontend/src/components/MineCard.jsx
  frontend/src/components/index.css
  frontend/src/main.jsx
  frontend/src/static/assets/piesio_hr.jpg
Due: none

PK-56 Prototyp funkcjonalności oceny prac
  frontend/src/components/MineCard.jsx
  frontend/src/components/index.css
  frontend/src/static/theme.js
Due: eslint

PK-62 changed permissions
  backend/contest_platform/permissions.py
Due: none

PK-71 fixed merge issues
  frontend/src/components/AvailableEntries.jsx
  frontend/src/components/BackButton.jsx
  frontend/src/components/CreateContestPage.jsx
  frontend/src/components/CreateEntryPage.jsx
  frontend/src/components/Entries.jsx
  frontend/src/components/EntryForm.jsx
Due: none

PK-56 Merge index.css z style.css, zmiana nazw na bardziej odpowiednie, usprawnienie działania przycisku powrotu
  frontend/src/components/App.jsx
  frontend/src/components/GradeEntry.jsx
  frontend/src/components/GradeEntryForm.jsx
  frontend/src/components/index.css
  frontend/src/main.jsx
  frontend/src/static/style.css
Due: none

PK-62 dodałem endpoint przez który można otrzymać dane ektuanego użytkownika oraz pole is_jury dla użytkownika
  backend/backend/urls.py
  backend/contest_platform/migrations/0003_user_is_jury.py
  backend/contest_platform/models.py
  backend/contest_platform/permissions.py
  backend/contest_platform/serializers.py
  backend/contest_platform/urls.py
  backend/contest_platform/views.py
  frontend/src/components/App.jsx
  frontend/src/components/ContestListPage.jsx
  frontend/src/components/UserProfilePage.jsx
Due: missing-migrations

PK-62 dodałem podstawowy widok profilu użytkownika
  frontend/src/components/App.jsx
  frontend/src/components/UserProfilePage.jsx
Due: none

added entry permission
  backend/backend/middleware.py
  backend/contest_platform/permissions.py
Due: none

PK-69 Informacja o błędzie dodawania konkursu
  backend/contest_platform/permissions.py
  backend/contest_platform/views.py
  frontend/src/components/ContestForm.jsx
  frontend/src/components/CreateContestPage.jsx
Due: none

PK-70 Informacja o błędzie dodawania zgłoszenia konkursowego
  frontend/src/components/CreateEntryPage.jsx
  frontend/src/components/EntryForm.jsx
Due: none

PK-70 Pola required w formularzu zgłoszeniowym
  frontend/src/components/EntryForm.jsx
Due: none

PK-45 Usuwanie kryteriów oceny
  frontend/src/components/ContestForm.jsx
  frontend/src/components/CreateCriterion.jsx
  frontend/src/static/style.css
Due: none

PK-68 Obsługa zgłoszeń grupowych
  backend/contest_platform/admin.py
  backend/contest_platform/models.py
  backend/contest_platform/serializers.py
  backend/contest_platform/urls.py
  backend/contest_platform/views.py
  frontend/src/components/ContestForm.jsx
  frontend/src/components/CreatePerson.jsx
  frontend/src/components/EntryForm.jsx
  frontend/src/static/style.css
Due: missing-migrations

PK-78 dodałem navbar, na razie bez funkcjonalności
  frontend/src/components/Header.jsx
  frontend/src/components/Navbar.jsx
Due: none
